data-stream-acquisition/src/main/app/acquisition-flow-dump.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
            http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
            http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
            http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <configuration>
        <expression-language autoResolveVariables="true">
            <import class="java.nio.file.Paths"/>
            <import class="java.nio.file.Files"/>
            <import class="java.util.UUID"/>
        </expression-language>
    </configuration>

    <!--
        This flow receives an HTTP POST and simply dumps the body to a file
        It does so in a streaming fashion, so that it can deal with file sizes bigger that the available memory
    -->
    <flow name="acquisition-flow-dump">

        <http:listener config-ref="http-listener-conf" path="${com.guido.dump.path}" allowedMethods="POST"/>

        <logger message="PAYLOAD TYPE #[message.payload.getClass()]" level="INFO"/>
        <logger message="PAYLOAD TYPE instanceof java.io.InputStream: #[message.payload instanceof java.io.InputStream]" level="INFO"/>

        <set-variable variableName="outputFilename" value="received.#[UUID.randomUUID().toString()].xml"/>
        <set-variable variableName="outputFilepath" value="temporary"/>

        <file:outbound-endpoint path="#[flowVars['outputFilepath']]" outputPattern="#[flowVars['outputFilename']]"/>

        <logger message="DUMPED #[Files.size(Paths.get(flowVars['outputFilepath'], flowVars['outputFilename']))] bytes into #[flowVars['outputFilename']]" level="INFO"/>

        <response>
            <set-payload value="FILE RECEIVED"/>
        </response>
    </flow>

</mule>
