data-stream-acquisition/src/main/app/acquisition-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
            http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
            http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
            http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <!--
        This flow receives an HTTP POST and splits the content in a streaming fashion
        the splitting is based on a XPATH expression configured on the splitter component
    -->
    <flow name="acquisition-flow">

        <http:listener config-ref="http-listener-conf" path="${com.guido.path}" allowedMethods="POST"/>

        <!-- PAYLOAD TYPE [org.mule.module.http.internal.listener.grizzly.BlockingTransferInputStream] -->

        <logger message="PAYLOAD TYPE instanceof java.io.InputStream: #[message.payload instanceof java.io.InputStream]" level="INFO"/>

        <component>
            <spring-object bean="xmlStreamSplitterComponent"/>
        </component>

    </flow>

</mule>
