reliability-pattern-mule/src/main/app/acquisition-flow-nonblocking.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule version="CE-3.8.0"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
            http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
            http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <!--
        The  processingStrategy="non-blocking" is supposed to implement a SEDA within the flow
        but it doesn't look like it's happening
    -->
    <flow name="nonblocking-acquisition-flow" processingStrategy="non-blocking">

        <http:listener config-ref="http-listener-conf" path="${com.guido.acquisition.nonblocking.path}" allowedMethods="POST" />

        <object-to-string-transformer />

        <logger message="ACQUIRED #[message.payload]" level="INFO" />

        <vm:outbound-endpoint ref="persistent.vm.endpoint" doc:name="VM persistent.vm.endpoint" />

    </flow>

</mule>

